{% extends 'home/page.html' %}
{% set faq_content = h.get_faq_page() %}

{% block primary %}
<div class="module" role="main">
  <div class="module-content faq">
    <h1 class="page-heading">FAQ Open Data Portal Metropole Ruhr</h1>
    {% for item in faq_content %}
      {% if item.tag == 'h1' %}
        <h1 class="faq-title">{{ item.value[0] }}</h1>
      {% endif %}
    {% if item.tag == 'h2' %}
      {% set idx = loop.index %}
        <h2 id="faq_question_{{loop.index}}" data-bs-toggle="collapse" data-bs-target="#faq_answer_{{loop.index}}"
          aria-expanded="false" aria-controls="faq_answer_{{loop.index}}" data-toggle="collapse"
          class="faq-question collapsed">
            <i class="fa fa-chevron-down collapse-indicator" aria-hidden="true"></i>
            <span>{{ item.value[0] }}</span>
        </h3>
    {% endif %}
    {% if item.tag == 'div' %}
      <div id="faq_answer_{{loop.index - 1}}" class="collapse content" role="region"
        aria-labelledby="faq_question_{{loop.index}}" aria-expanded="false">
        {% for val in item.value %}
            {{ val | safe}}
        {% endfor %}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
